#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: 'IBM Plex Mono', monospace;
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

#logo{
  height:4rem !important;
}
a{
  color: white;
}
a:hover{
  color: orangered;
}
nav{
  background-color: black !important;
  color: white !important;
  height: 5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
img{
  height: 5rem;
}